<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Работники</title>
</head>
<body>
<div class="main-content">
    <h1>Обработка среднего срока</h1>
    <h2>Результат обработки</h2>
    <hr/>
    <table>
        <tr class="table_header">
            <th class="table_header">Сотрудник</th>
            <th class="table_header">Средний срок</th>
        </tr>
        <tr th:each="entry  : ${averageCandidates}" >
            <td class="table_cell_info"><span th:text="${entry.key}"></span></td>
            <td class="table_cell_info"><span th:text="${entry.value}"></span></td>
        </tr>
    </table>
    <a th:href="@{/employee/add}"><button class="on_page_action">Добавить</button></a>
    <hr/>
    <a th:href="@{/}"><button class="on_page_action">На главную страницу</button></a>
</div>

</body>
</html>