<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Настройки</title>
</head>
<body>
<h1>Настройки</h1>
<h2>Добавление свойства</h2>
<div class="main-content">
    <hr/>
    <form action="#" th:action="@{/config/save}" method="post">
        <input type="text" style="textInput" name="property" id="property">
        <input type="text" style="textInput" name="value" id="value">
        <input type="submit"  class="on_page_action" value="Добавить"/>
    </form>
    <hr/>
    <a th:href="@{/}"><button class="on_page_action">На главную страницу</button></a>
</div>

</body>