<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Настройки</title>
</head>
<body>
<div class="main-content">
    <h1>Настройки</h1>
    <h2>Список настроек</h2>
    <hr/>
    <table>
        <tr class="table_header">
            <th class="table_header">ID</th>
            <th class="table_header">Свойство</th>
            <th class="table_header">Значение</th>
        </tr>
        <tr th:each="config  : ${configs}" >
            <td class="table_cell_info"><span th:text="${config.id}"></span></td>
            <td class="table_cell_info"><span th:text="${config.property}"></span></td>
            <td class="table_cell_info"><span th:text="${config.value}"></span></td>
        </tr>
    </table>
    <a th:href="@{/config/add}"><button class="on_page_action">Добавить</button></a>
    <hr/>
    <a th:href="@{/}"><button class="on_page_action">На главную страницу</button></a>
</div>

</body>
</html>